*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav{
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 89px;
    font-size: 30px;
}
body{
    background:#e8e8e8;
}
.main{
    width: 425px;
    border:1px solid purple;
    margin:auto;
    margin-top:50px;
    position: relative;
    padding:20px;
    border-radius: 15px;
}

input{
    height:30px;
    width:100%;
    margin:10px 0px 20px 0px;
    padding: 10px;
    border:none;
    outline:none;
    border-radius: 5px;
    background: #e8e8e8;
    font-size: 20px;
    box-shadow:  5px 5px 10px #c5c5c5,
         -5px -5px 10px #ffffff;
}
textarea{
    width:100%;
    outline:none;
    font-size: 20px;
    padding: 10px;
    border:none;
    margin-top:10px;
    border-radius: 15px;
    background: #e8e8e8;
    box-shadow:  5px 5px 10px #c5c5c5,
         -5px -5px 10px #ffffff;
}
input:hover,textarea:hover{
    box-shadow: inset 5px 5px 10px #c5c5c5,
        inset -5px -5px 10px #ffffff;
}
button{
    position:absolute;
    border: none;
    position: absolute;    
    right: -24px;
    bottom: -26px;
}
.fa{
    font-size: 50px;
    color: purple;
    background: #e8e8e8; 
    cursor: pointer;
}

.blogs{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.blog-container{
    border: 2px solid #6fc0bb;
    border-radius: 12px;
    width: 314px;
    min-height: 148px;
    height: auto;
    margin: 50px;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(145deg, #d1d1d1, #f8f8f8);
    box-shadow:  5px 5px 10px #c5c5c5,
         -5px -5px 10px #ffffff;
}
.blog-container h3{
    color: #6f258d;
    text-align: center;
    font-size: 22px;
    padding: 6px;
}
p{
    padding: 8px;
    text-align: justify;
}

.edit{
    background: green;
    color: white;
    border-radius: 4px;
    width: 61px;
    height: 26px;
    text-align: center;
}
.delete{
    background: red;
    color: white;
    border-radius: 4px;
    width: 61px;
    height: 26px;
    text-align: center;
}
.functionality{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 3px;
}

@media(max-width:850px){
    .main{
        width: 314px;
    }
}